In [270]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

### Analysis of Unicorn Companies from around the world between 2007 - 2022 including Tableau Dashboard

# Introduction

### The dataset is a collection of 1,186 Unicorn companies from around the world detailing the following information : - 

- Company Name 
- Valuation \\$B 
- Date Joined 
- Country
- City
- Industry
- Investors

# Data Processing

In [271]:
#import libraries 
import pandas as pd

In [272]:
filepath = r"C:\Users\Krupa\Downloads\archive (3)\unicorns till sep 2022.csv"
data = pd.read_csv(filepath)
data

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors
0,ByteDance,$140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, Sina Weibo, Softbank Group"
1,SpaceX,$127,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothenberg Ventures"
2,SHEIN,$100,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China, Shunwei Capital Partners"
3,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
4,Canva,$40,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Matrix Partners"
...,...,...,...,...,...,...,...
1181,LeadSquared,$1,6/21/2022,India,Bengaluru,Internet software & services,"Gaja Capital Partners, Stakeboat Capital, WestBridge Capital"
1182,FourKites,$1,6/21/2022,United States,Chicago,"Supply chain, logistics, & delivery","Hyde Park Venture Partners, Bain Capital Ventures, Hyde Park Angels"
1183,VulcanForms,$1,7/5/2022,United States,Burlington,"Supply chain, logistics, & delivery","Eclipse Ventures, D1 Capital Partners, Industry Ventures"
1184,SingleStore,$1,7/12/2022,United States,San Francisco,Data management & analytics,"Google Ventures, Accel, Data Collective"
1185,Unstoppable Domains,$1,7/27/2022,United States,Las Vegas,Internet software & services,"Boost VC, Draper Associates, Gaingels"

In [273]:
#key stats of data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1186 entries, 0 to 1185
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Company         1186 non-null   object
 1   Valuation ($B)  1186 non-null   object
 2   Date Joined     1186 non-null   object
 3   Country         1186 non-null   object
 4   City            1186 non-null   object
 5   Industry        1186 non-null   object
 6   Investors       1168 non-null   object
dtypes: object(7)
memory usage: 65.0+ KB

In [274]:
data.columns

Index(['Company', 'Valuation ($B)', 'Date Joined', 'Country', 'City ',
       'Industry', 'Investors'],
      dtype='object')

In [275]:
print(data.columns.tolist())

['Company', 'Valuation ($B)', 'Date Joined', 'Country', 'City\xa0', 'Industry', 'Investors']

In [276]:
#let's rename the city column for better readability 
data = data.rename(columns = {'City\xa0': 'City'})

In [277]:
data.columns

Index(['Company', 'Valuation ($B)', 'Date Joined', 'Country', 'City',
       'Industry', 'Investors'],
      dtype='object')

### Missing Values

In [278]:
print('missing values (%) per column: \n', 100*data.isnull().mean())

missing values (%) per column:
 Company           0.000000
Valuation ($B)    0.000000
Date Joined       0.000000
Country           0.000000
City              0.000000
Industry          0.000000
Investors         1.517707
dtype: float64

In [279]:
#locate rows with missing values 
missing_vals = data[data['Investors'].isnull()]
missing_vals

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors
10,FTX,$32,7/20/2021,Bahamas,Fintech,"Sequoia Capital, Thoma Bravo, Softbank",NaN
242,HyalRoute,$3.50,5/26/2020,Singapore,Mobile & telecommunications,Kuang-Chi,NaN
316,Amber Group,$3,6/21/2021,Hong Kong,Fintech,"Tiger Global Management, Tiger Brokers, DCM Ventures",NaN
346,Moglix,$2.60,5/17/2021,Singapore,E-commerce & direct-to-consumer,"Jungle Ventures, Accel, Venture Highway",NaN
371,Coda Payments,$2.50,4/15/2022,Singapore,Fintech,"GIC. Apis Partners, Insight Partners",NaN
482,Advance Intelligence Group,$2,9/23/2021,Singapore,Artificial intelligence,"Vision Plus Capital, GSR Ventures, ZhenFund",NaN
495,Trax,$2,7/22/2019,Singapore,Artificial intelligence,"Hopu Investment Management, Boyu Capital, DC Thomson Ventures",NaN
865,Carousell,$1.10,9/15/2021,Singapore,E-commerce & direct-to-consumer,"500 Global, Rakuten Ventures, Golden Gate Ventures",NaN
917,LinkSure Network,$1,1/1/2015,China,Shanghai,Mobile & telecommunications,NaN
941,WeLab,$1,11/8/2017,Hong Kong,Fintech,"Sequoia Capital China, ING, Alibaba Entrepreneurs Fund",NaN
1000,PatSnap,$1,3/16/2021,Singapore,Internet software & services,"Sequoia Capital China, Shunwei Capital Partners, Qualgro",NaN
1027,Matrixport,$1.05,6/1/2021,Singapore,Fintech,"Dragonfly Captial, Qiming Venture Partners, DST Global",NaN
1032,Carro,$1,6/14/2021,Singapore,E-commerce & direct-to-consumer,"SingTel Innov8, Alpha JWC Ventures, Golden Gate Ventures",NaN
1044,bolttech,$1,7/1/2021,Singapore,Fintech,"Mundi Ventures, Doqling Capital Partners, Activant Capital",NaN
1054,NIUM,$1,7/13/2021,Singapore,Fintech,"Vertex Ventures SE Asia, Global Founders Capital, Visa Ventures",NaN
1065,Cider,$1,9/2/2021,Hong Kong,E-commerce & direct-to-consumer,"Andreessen Horowitz, DST Global, IDG Capital",NaN
1077,Ninja Van,$1,9/27/2021,Singapore,"Supply chain, logistics, & delivery","B Capital Group, Monk's Hill Ventures, Dynamic Parcel Distribution",NaN
1129,ONE,$1,12/8/2021,Singapore,Internet software & services,"Temasek, Guggenheim Investments, Qatar Investment Authority",NaN

It appears that the data has been mis-aligned in these particular rows. The values which seem to be missing are for the City column.

In [280]:
missing_vals.columns

Index(['Company', 'Valuation ($B)', 'Date Joined', 'Country', 'City',
       'Industry', 'Investors'],
      dtype='object')

In [281]:
print(missing_vals.columns.tolist())

['Company', 'Valuation ($B)', 'Date Joined', 'Country', 'City', 'Industry', 'Investors']

In [282]:
#lets duplicate the city column to shift the data from one column to another 
missing_vals['Duplicate Industry'] = missing_vals['Industry']
missing_vals

C:\Users\Krupa\AppData\Local\Temp\ipykernel_13116\111092552.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  missing_vals['Duplicate Industry'] = missing_vals['Industry']

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors,Duplicate Industry
10,FTX,$32,7/20/2021,Bahamas,Fintech,"Sequoia Capital, Thoma Bravo, Softbank",NaN,"Sequoia Capital, Thoma Bravo, Softbank"
242,HyalRoute,$3.50,5/26/2020,Singapore,Mobile & telecommunications,Kuang-Chi,NaN,Kuang-Chi
316,Amber Group,$3,6/21/2021,Hong Kong,Fintech,"Tiger Global Management, Tiger Brokers, DCM Ventures",NaN,"Tiger Global Management, Tiger Brokers, DCM Ventures"
346,Moglix,$2.60,5/17/2021,Singapore,E-commerce & direct-to-consumer,"Jungle Ventures, Accel, Venture Highway",NaN,"Jungle Ventures, Accel, Venture Highway"
371,Coda Payments,$2.50,4/15/2022,Singapore,Fintech,"GIC. Apis Partners, Insight Partners",NaN,"GIC. Apis Partners, Insight Partners"
482,Advance Intelligence Group,$2,9/23/2021,Singapore,Artificial intelligence,"Vision Plus Capital, GSR Ventures, ZhenFund",NaN,"Vision Plus Capital, GSR Ventures, ZhenFund"
495,Trax,$2,7/22/2019,Singapore,Artificial intelligence,"Hopu Investment Management, Boyu Capital, DC Thomson Ventures",NaN,"Hopu Investment Management, Boyu Capital, DC Thomson Ventures"
865,Carousell,$1.10,9/15/2021,Singapore,E-commerce & direct-to-consumer,"500 Global, Rakuten Ventures, Golden Gate Ventures",NaN,"500 Global, Rakuten Ventures, Golden Gate Ventures"
917,LinkSure Network,$1,1/1/2015,China,Shanghai,Mobile & telecommunications,NaN,Mobile & telecommunications
941,WeLab,$1,11/8/2017,Hong Kong,Fintech,"Sequoia Capital China, ING, Alibaba Entrepreneurs Fund",NaN,"Sequoia Capital China, ING, Alibaba Entrepreneurs Fund"
1000,PatSnap,$1,3/16/2021,Singapore,Internet software & services,"Sequoia Capital China, Shunwei Capital Partners, Qualgro",NaN,"Sequoia Capital China, Shunwei Capital Partners, Qualgro"
1027,Matrixport,$1.05,6/1/2021,Singapore,Fintech,"Dragonfly Captial, Qiming Venture Partners, DST Global",NaN,"Dragonfly Captial, Qiming Venture Partners, DST Global"
1032,Carro,$1,6/14/2021,Singapore,E-commerce & direct-to-consumer,"SingTel Innov8, Alpha JWC Ventures, Golden Gate Ventures",NaN,"SingTel Innov8, Alpha JWC Ventures, Golden Gate Ventures"
1044,bolttech,$1,7/1/2021,Singapore,Fintech,"Mundi Ventures, Doqling Capital Partners, Activant Capital",NaN,"Mundi Ventures, Doqling Capital Partners, Activant Capital"
1054,NIUM,$1,7/13/2021,Singapore,Fintech,"Vertex Ventures SE Asia, Global Founders Capital, Visa Ventures",NaN,"Vertex Ventures SE Asia, Global Founders Capital, Visa Ventures"
1065,Cider,$1,9/2/2021,Hong Kong,E-commerce & direct-to-consumer,"Andreessen Horowitz, DST Global, IDG Capital",NaN,"Andreessen Horowitz, DST Global, IDG Capital"
1077,Ninja Van,$1,9/27/2021,Singapore,"Supply chain, logistics, & delivery","B Capital Group, Monk's Hill Ventures, Dynamic Parcel Distribution",NaN,"B Capital Group, Monk's Hill Ventures, Dynamic Parcel Distribution"
1129,ONE,$1,12/8/2021,Singapore,Internet software & services,"Temasek, Guggenheim Investments, Qatar Investment Authority",NaN,"Temasek, Guggenheim Investments, Qatar Investment Authority"

In [283]:
#columns to shift 
condition = missing_vals['Investors'].isnull()

missing_vals.loc[condition, 'Industry'] = missing_vals.loc[condition, 'City']
missing_vals.loc[condition, 'Investors'] = missing_vals.loc[condition, 'Duplicate Industry']

In [284]:
pd.set_option('display.max_colwidth', None)
missing_vals.loc[10]

Company                                                  FTX
Valuation ($B)                                           $32
Date Joined                                        7/20/2021
Country                                              Bahamas
City                                                 Fintech
Industry                                             Fintech
Investors             Sequoia Capital, Thoma Bravo, Softbank
Duplicate Industry    Sequoia Capital, Thoma Bravo, Softbank
Name: 10, dtype: object

In [285]:
#drop duplicate col in missing_vals df

missing_vals = missing_vals.drop(columns = ['Duplicate Industry'])
missing_vals

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors
10,FTX,$32,7/20/2021,Bahamas,Fintech,Fintech,"Sequoia Capital, Thoma Bravo, Softbank"
242,HyalRoute,$3.50,5/26/2020,Singapore,Mobile & telecommunications,Mobile & telecommunications,Kuang-Chi
316,Amber Group,$3,6/21/2021,Hong Kong,Fintech,Fintech,"Tiger Global Management, Tiger Brokers, DCM Ventures"
346,Moglix,$2.60,5/17/2021,Singapore,E-commerce & direct-to-consumer,E-commerce & direct-to-consumer,"Jungle Ventures, Accel, Venture Highway"
371,Coda Payments,$2.50,4/15/2022,Singapore,Fintech,Fintech,"GIC. Apis Partners, Insight Partners"
482,Advance Intelligence Group,$2,9/23/2021,Singapore,Artificial intelligence,Artificial intelligence,"Vision Plus Capital, GSR Ventures, ZhenFund"
495,Trax,$2,7/22/2019,Singapore,Artificial intelligence,Artificial intelligence,"Hopu Investment Management, Boyu Capital, DC Thomson Ventures"
865,Carousell,$1.10,9/15/2021,Singapore,E-commerce & direct-to-consumer,E-commerce & direct-to-consumer,"500 Global, Rakuten Ventures, Golden Gate Ventures"
917,LinkSure Network,$1,1/1/2015,China,Shanghai,Shanghai,Mobile & telecommunications
941,WeLab,$1,11/8/2017,Hong Kong,Fintech,Fintech,"Sequoia Capital China, ING, Alibaba Entrepreneurs Fund"
1000,PatSnap,$1,3/16/2021,Singapore,Internet software & services,Internet software & services,"Sequoia Capital China, Shunwei Capital Partners, Qualgro"
1027,Matrixport,$1.05,6/1/2021,Singapore,Fintech,Fintech,"Dragonfly Captial, Qiming Venture Partners, DST Global"
1032,Carro,$1,6/14/2021,Singapore,E-commerce & direct-to-consumer,E-commerce & direct-to-consumer,"SingTel Innov8, Alpha JWC Ventures, Golden Gate Ventures"
1044,bolttech,$1,7/1/2021,Singapore,Fintech,Fintech,"Mundi Ventures, Doqling Capital Partners, Activant Capital"
1054,NIUM,$1,7/13/2021,Singapore,Fintech,Fintech,"Vertex Ventures SE Asia, Global Founders Capital, Visa Ventures"
1065,Cider,$1,9/2/2021,Hong Kong,E-commerce & direct-to-consumer,E-commerce & direct-to-consumer,"Andreessen Horowitz, DST Global, IDG Capital"
1077,Ninja Van,$1,9/27/2021,Singapore,"Supply chain, logistics, & delivery","Supply chain, logistics, & delivery","B Capital Group, Monk's Hill Ventures, Dynamic Parcel Distribution"
1129,ONE,$1,12/8/2021,Singapore,Internet software & services,Internet software & services,"Temasek, Guggenheim Investments, Qatar Investment Authority"

 Now, let's fill the city column with the mode corresponding to the country column.

In [286]:
#mode city value by country 
mode_city = data.groupby('Country')['City'].apply(lambda x : x.mode()[0]).to_frame().reset_index()
mode_city

                 Country              City
0              Argentina      Buenos Aires
1              Australia         Melbourne
2                Austria            Vienna
3                Bahamas           Fintech
4                Belgium          Brussels
5                Bermuda          Hamilton
6                 Brazil         Sao Paulo
7                 Canada           Toronto
8                  Chile          Santiago
9                  China           Beijing
10              Colombia            Bogota
11               Croatia     Sveta Nedelja
12        Czech Republic            Prague
13               Denmark            Aarhus
14               Ecuador             Quito
15               Estonia           Tallinn
16               Finland          Helsinki
17                France             Paris
18               Germany            Berlin
19             Hong Kong           Fintech
20                 India         Bengaluru
21             Indonesia           Jakarta
22               Ireland            Dublin
23                Israel          Tel Aviv
24                 Italy             Milan
25                 Japan             Tokyo
26             Lithuania           Vilnius
27            Luxembourg        Leudelange
28              Malaysia          Selangor
29                Mexico       Mexico City
30           Netherlands         Amsterdam
31               Nigeria             Lagos
32                Norway              Oslo
33           Philippines            Manila
34               Senegal             Dakar
35            Seychelles          Victoria
36             Singapore           Fintech
37          South Africa         Bryanston
38           South Korea             Seoul
39                 Spain            Madrid
40                Sweden         Stockholm
41           Switzerland            Zurich
42              Thailand           Bangkok
43                Turkey          Istanbul
44  United Arab Emirates             Dubai
45        United Kingdom            London
46         United States     San Francisco
47               Vietnam  Ho Chi Minh City

In [287]:
missing_vals['Country'].unique()

array(['Bahamas', 'Singapore', 'Hong Kong', 'China'], dtype=object)

The mode exercise has provided a useful value for China, however, there seems to be an error with the other three countries. For simplicity, let's fill the city value with the country value.

In [288]:
# function to fill incorrect values in city column with mode value

def fill_city_col(value):
    if value == 'Bahamas':
        return 'Bahamas'
    elif value == 'Singapore':
        return 'Singapore'
    elif value == 'Hong Kong':
        return 'Hong Kong'
    elif value == 'China':
        return 'Beijing'
    else:
        pass

In [289]:
missing_vals['City'] = missing_vals['Country'].apply(fill_city_col)

In [290]:
#check df
missing_vals

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors
10,FTX,$32,7/20/2021,Bahamas,Bahamas,Fintech,"Sequoia Capital, Thoma Bravo, Softbank"
242,HyalRoute,$3.50,5/26/2020,Singapore,Singapore,Mobile & telecommunications,Kuang-Chi
316,Amber Group,$3,6/21/2021,Hong Kong,Hong Kong,Fintech,"Tiger Global Management, Tiger Brokers, DCM Ventures"
346,Moglix,$2.60,5/17/2021,Singapore,Singapore,E-commerce & direct-to-consumer,"Jungle Ventures, Accel, Venture Highway"
371,Coda Payments,$2.50,4/15/2022,Singapore,Singapore,Fintech,"GIC. Apis Partners, Insight Partners"
482,Advance Intelligence Group,$2,9/23/2021,Singapore,Singapore,Artificial intelligence,"Vision Plus Capital, GSR Ventures, ZhenFund"
495,Trax,$2,7/22/2019,Singapore,Singapore,Artificial intelligence,"Hopu Investment Management, Boyu Capital, DC Thomson Ventures"
865,Carousell,$1.10,9/15/2021,Singapore,Singapore,E-commerce & direct-to-consumer,"500 Global, Rakuten Ventures, Golden Gate Ventures"
917,LinkSure Network,$1,1/1/2015,China,Beijing,Shanghai,Mobile & telecommunications
941,WeLab,$1,11/8/2017,Hong Kong,Hong Kong,Fintech,"Sequoia Capital China, ING, Alibaba Entrepreneurs Fund"
1000,PatSnap,$1,3/16/2021,Singapore,Singapore,Internet software & services,"Sequoia Capital China, Shunwei Capital Partners, Qualgro"
1027,Matrixport,$1.05,6/1/2021,Singapore,Singapore,Fintech,"Dragonfly Captial, Qiming Venture Partners, DST Global"
1032,Carro,$1,6/14/2021,Singapore,Singapore,E-commerce & direct-to-consumer,"SingTel Innov8, Alpha JWC Ventures, Golden Gate Ventures"
1044,bolttech,$1,7/1/2021,Singapore,Singapore,Fintech,"Mundi Ventures, Doqling Capital Partners, Activant Capital"
1054,NIUM,$1,7/13/2021,Singapore,Singapore,Fintech,"Vertex Ventures SE Asia, Global Founders Capital, Visa Ventures"
1065,Cider,$1,9/2/2021,Hong Kong,Hong Kong,E-commerce & direct-to-consumer,"Andreessen Horowitz, DST Global, IDG Capital"
1077,Ninja Van,$1,9/27/2021,Singapore,Singapore,"Supply chain, logistics, & delivery","B Capital Group, Monk's Hill Ventures, Dynamic Parcel Distribution"
1129,ONE,$1,12/8/2021,Singapore,Singapore,Internet software & services,"Temasek, Guggenheim Investments, Qatar Investment Authority"

In [291]:
#There seems to be an error on row 917, let's fix this. 
missing_vals.loc[917]

Company                      LinkSure Network
Valuation ($B)                             $1
Date Joined                          1/1/2015
Country                                 China
City                                  Beijing
Industry                             Shanghai
Investors         Mobile & telecommunications
Name: 917, dtype: object

In [292]:
missing_vals.at[917, 'Industry'] = 'Mobile & telecommunications'

In [293]:
mode_investor = data.groupby('Country')['Investors'].apply(lambda x : x.mode()).to_frame().reset_index()
mode_investor

,Country,level_1,Investors
0,Argentina,0,"Soros Fund Management, Ribbit Capital, Monashees+"
1,Australia,0,"AirTree Ventures, Insight Partners, Index Ventures"
2,Australia,1,"Blackbird Ventures, IndexVentures, Tiger Global Management"
3,Australia,2,"DST Global, Sequoia Capital China, Tencent Holdings"
4,Australia,3,"Fabric Ventures, AirTree Ventures, Temasek"
...,...,...,...
292,United States,2,"Pelion Venture Partners, Foundation Capital, Thoma Bravo"
293,United States,3,SoftBank Group
294,United States,4,"Two Sigma Ventures, Flint Capital, Commerce Ventures"
295,Vietnam,0,"Fabric Ventures, 500 Global, Standard Crypto"
296,Vietnam,1,"Goodwater Capital, Warburg Pincus, GS Growth"

In [294]:
mode_investor.loc[mode_investor['Country']=='China']

,Country,level_1,Investors
53,China,0,"Sequoia Capital China, Qiming Venture Partners, Tencent Holdings"
54,China,1,"Shunwei Capital Partners, China Media Group, Guangzhou Huiyin Aofeng Equity Investment Fund"

In [295]:
missing_vals.at[917, 'Investors'] = 'Sequoia Capital China, Qiming Venture Partners, Tencent Holdings'

In [296]:
missing_vals.loc[917]

Company                                                           LinkSure Network
Valuation ($B)                                                                  $1
Date Joined                                                               1/1/2015
Country                                                                      China
City                                                                       Beijing
Industry                                               Mobile & telecommunications
Investors         Sequoia Capital China, Qiming Venture Partners, Tencent Holdings
Name: 917, dtype: object

Now that the missing values have been dealt with, let's concat the two dataframes and run a check for missing values.

In [297]:
data = pd.concat([data, missing_vals]).dropna()
data

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors
0,ByteDance,$140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, Sina Weibo, Softbank Group"
1,SpaceX,$127,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothenberg Ventures"
2,SHEIN,$100,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China, Shunwei Capital Partners"
3,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
4,Canva,$40,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Matrix Partners"
...,...,...,...,...,...,...,...
1044,bolttech,$1,7/1/2021,Singapore,Singapore,Fintech,"Mundi Ventures, Doqling Capital Partners, Activant Capital"
1054,NIUM,$1,7/13/2021,Singapore,Singapore,Fintech,"Vertex Ventures SE Asia, Global Founders Capital, Visa Ventures"
1065,Cider,$1,9/2/2021,Hong Kong,Hong Kong,E-commerce & direct-to-consumer,"Andreessen Horowitz, DST Global, IDG Capital"
1077,Ninja Van,$1,9/27/2021,Singapore,Singapore,"Supply chain, logistics, & delivery","B Capital Group, Monk's Hill Ventures, Dynamic Parcel Distribution"
1129,ONE,$1,12/8/2021,Singapore,Singapore,Internet software & services,"Temasek, Guggenheim Investments, Qatar Investment Authority"

In [298]:
print('missing values (%) per column: \n', 100*data.isnull().mean())

missing values (%) per column:
 Company           0.0
Valuation ($B)    0.0
Date Joined       0.0
Country           0.0
City              0.0
Industry          0.0
Investors         0.0
dtype: float64

### Duplicate Data

In [299]:
data['Industry'].unique()

array(['Artificial intelligence', 'Other',
       'E-commerce & direct-to-consumer', 'Fintech',
       'Internet software & services',
       'Supply chain, logistics, & delivery',
       'Data management & analytics', 'Edtech', 'Hardware',
       'Consumer & retail', 'Health', 'Auto & transportation',
       'Cybersecurity', 'Mobile & telecommunications', 'Travel',
       'Artificial Intelligence', 'Internet'], dtype=object)

In [300]:
print(data['Industry'].value_counts())

Industry
Fintech                                246
Internet software & services           226
E-commerce & direct-to-consumer        107
Health                                  94
Artificial intelligence                 76
Supply chain, logistics, & delivery     66
Other                                   65
Cybersecurity                           58
Data management & analytics             45
Auto & transportation                   40
Mobile & telecommunications             38
Hardware                                38
Edtech                                  32
Consumer & retail                       28
Travel                                  14
Artificial Intelligence                 11
Internet                                 2
Name: count, dtype: int64

In [301]:
#looks like AI is duplicated, let's standardize this category
data['Industry'] = data['Industry'].replace({'Artificial Intelligence' : 'Artificial intelligence'})

In [302]:
print(data['Industry'].value_counts())

Industry
Fintech                                246
Internet software & services           226
E-commerce & direct-to-consumer        107
Health                                  94
Artificial intelligence                 87
Supply chain, logistics, & delivery     66
Other                                   65
Cybersecurity                           58
Data management & analytics             45
Auto & transportation                   40
Hardware                                38
Mobile & telecommunications             38
Edtech                                  32
Consumer & retail                       28
Travel                                  14
Internet                                 2
Name: count, dtype: int64

In [303]:
data['Company'].value_counts()

Company
Fabric            2
Bolt              2
Branch            2
ByteDance         1
Inari             1
                 ..
Odoo              1
Bowery Farming    1
Greenlight        1
Skydance Media    1
ONE               1
Name: count, Length: 1183, dtype: int64

In [304]:
data.loc[data['Company'] == 'Fabric']

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors
654,Fabric,$1.50,2/24/2022,United States,Bellevue,E-commerce & direct-to-consumer,"Redpoint Ventures, Norwest Venture Partners, Sierra Ventures"
1092,Fabric,$1,10/26/2021,United States,New York,"Supply chain, logistics, & delivery","Innovation Endeavors, Aleph, Temasek"

In [305]:
data.loc[data['Company'] == 'Bolt']

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investors
42,Bolt,$11,10/8/2021,United States,San Francisco,Fintech,"Activant Capital, Tribe Capital, General Atlantic"
73,Bolt,$8.40,5/29/2018,Estonia,Tallinn,Auto & transportation,"Didi Chuxing, Diamler, TMT Investments"

They do not seem to be duplicated companies, so we will leave them as they are.

### Reshape Data

For better analysis, let's split the investors column, drop the dollar symbol in the valuation column and change the data type to float.

In [306]:
#split the investors column by the comma delimiter 
data[['Investor1', 'Investor2', 'Investor3', 'Investor4']] = data['Investors'].str.split(',', expand=True)

In [307]:
data = data.drop(columns='Investors')

In [308]:
data['Valuation ($B)'] = data['Valuation ($B)'].str.replace('$', '')

In [309]:
data.head()

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investor1,Investor2,Investor3,Investor4
0,ByteDance,140,4/7/2017,China,Beijing,Artificial intelligence,Sequoia Capital China,SIG Asia Investments,Sina Weibo,Softbank Group
1,SpaceX,127,12/1/2012,United States,Hawthorne,Other,Founders Fund,Draper Fisher Jurvetson,Rothenberg Ventures,None
2,SHEIN,100,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,Tiger Global Management,Sequoia Capital China,Shunwei Capital Partners,None
3,Stripe,95,1/23/2014,United States,San Francisco,Fintech,Khosla Ventures,LowercaseCapital,capitalG,None
4,Canva,40,1/8/2018,Australia,Surry Hills,Internet software & services,Sequoia Capital China,Blackbird Ventures,Matrix Partners,None

In [310]:
data['Valuation ($B)'] = data['Valuation ($B)'].astype(float)

In [311]:
data.dtypes

Company            object
Valuation ($B)    float64
Date Joined        object
Country            object
City               object
Industry           object
Investor1          object
Investor2          object
Investor3          object
Investor4          object
dtype: object

In [312]:
#let's move on to splitting the date column into month and year

data['Date Joined'] = pd.to_datetime(data['Date Joined'])

data['Month'] = data['Date Joined'].dt.month
data['Year'] = data['Date Joined'].dt.year

In [313]:
data.head()

,Company,Valuation ($B),Date Joined,Country,City,Industry,Investor1,Investor2,Investor3,Investor4,Month,Year
0,ByteDance,140.0,2017-04-07,China,Beijing,Artificial intelligence,Sequoia Capital China,SIG Asia Investments,Sina Weibo,Softbank Group,4,2017
1,SpaceX,127.0,2012-12-01,United States,Hawthorne,Other,Founders Fund,Draper Fisher Jurvetson,Rothenberg Ventures,None,12,2012
2,SHEIN,100.0,2018-07-03,China,Shenzhen,E-commerce & direct-to-consumer,Tiger Global Management,Sequoia Capital China,Shunwei Capital Partners,None,7,2018
3,Stripe,95.0,2014-01-23,United States,San Francisco,Fintech,Khosla Ventures,LowercaseCapital,capitalG,None,1,2014
4,Canva,40.0,2018-01-08,Australia,Surry Hills,Internet software & services,Sequoia Capital China,Blackbird Ventures,Matrix Partners,None,1,2018

In [314]:
#for further analysis, let's summarise the industries by number of investors 
ind_invdf = data.groupby('Industry')[['Investor1','Investor2','Investor3','Investor4']].count()
ind_invdf

,Investor1,Investor2,Investor3,Investor4
Industry,,,,
Artificial intelligence,87,83,79,2
Auto & transportation,40,38,32,1
Consumer & retail,28,25,20,0
Cybersecurity,58,58,56,0
Data management & analytics,45,45,42,1
E-commerce & direct-to-consumer,107,103,96,0
Edtech,32,31,30,0
Fintech,246,236,221,0
Hardware,38,38,34,0
Health,94,90,81,1
Internet,2,2,2,1
Internet software & services,226,218,202,0
Mobile & telecommunications,38,34,30,2
Other,65,55,44,0
"Supply chain, logistics, & delivery",66,65,61,2
Travel,14,14,13,0

In [315]:
ind_invdf['Total Number of Investors'] = ind_invdf[['Investor1','Investor2','Investor3','Investor4']].sum(axis=1)
ind_invdf.drop(columns=['Investor1','Investor2','Investor3','Investor4'])

                                     Total Number of Investors
Industry
Artificial intelligence                                    251
Auto & transportation                                      111
Consumer & retail                                           73
Cybersecurity                                              172
Data management & analytics                                133
E-commerce & direct-to-consumer                            306
Edtech                                                      93
Fintech                                                    703
Hardware                                                   110
Health                                                     266
Internet                                                     7
Internet software & services                               646
Mobile & telecommunications                                104
Other                                                      164
Supply chain, logistics, & delivery                        194
Travel                                                      41

In [316]:
#sum the number of unique investors to give the total number of companies invested in by investor
investor_cols = data[['Investor1', 'Investor2', 'Investor3', 'Investor4']]
combined_investors = pd.concat([investor_cols[col] for col in investor_cols.columns]).dropna()

In [317]:
combined_investors

0           Sequoia Capital China
1                   Founders Fund
2         Tiger Global Management
3                 Khosla Ventures
4           Sequoia Capital China
                  ...
530                 Goldman Sachs
729      Nirvana Venture Advisors
882
997                         Accel
1001            McKesson Ventures
Length: 3374, dtype: object

In [318]:
unique_count = combined_investors.value_counts()
unique_count = unique_count.to_frame().reset_index()

In [319]:
unique_count.rename(columns={'index':'Investor', 'count':'Number of Companies Invested'})

                      Investor  Number of Companies Invested
0      Tiger Global Management                            42
1                        Accel                            34
2              Sequoia Capital                            33
3          Andreessen Horowitz                            33
4        Sequoia Capital China                            31
...                        ...                           ...
1654           Aspect Ventures                             1
1655          Softbank Capital                             1
1656         Dragonfly Capital                             1
1657                RTP Global                             1
1658         McKesson Ventures                             1

[1659 rows x 2 columns]

## Data Storage

In [320]:
data.columns

Index(['Company', 'Valuation ($B)', 'Date Joined', 'Country', 'City',
       'Industry', 'Investor1', 'Investor2', 'Investor3', 'Investor4', 'Month',
       'Year'],
      dtype='object')

In [321]:
data = data.rename(columns = {'Valuation ($B)': 'Valuation_billion_dollars', 'Date Joined' : 'Date_Joined'})
data.head()

,Company,Valuation_billion_dollars,Date_Joined,Country,City,Industry,Investor1,Investor2,Investor3,Investor4,Month,Year
0,ByteDance,140.0,2017-04-07,China,Beijing,Artificial intelligence,Sequoia Capital China,SIG Asia Investments,Sina Weibo,Softbank Group,4,2017
1,SpaceX,127.0,2012-12-01,United States,Hawthorne,Other,Founders Fund,Draper Fisher Jurvetson,Rothenberg Ventures,None,12,2012
2,SHEIN,100.0,2018-07-03,China,Shenzhen,E-commerce & direct-to-consumer,Tiger Global Management,Sequoia Capital China,Shunwei Capital Partners,None,7,2018
3,Stripe,95.0,2014-01-23,United States,San Francisco,Fintech,Khosla Ventures,LowercaseCapital,capitalG,None,1,2014
4,Canva,40.0,2018-01-08,Australia,Surry Hills,Internet software & services,Sequoia Capital China,Blackbird Ventures,Matrix Partners,None,1,2018

In [322]:
data.dtypes

Company                              object
Valuation_billion_dollars           float64
Date_Joined                  datetime64[ns]
Country                              object
City                                 object
Industry                             object
Investor1                            object
Investor2                            object
Investor3                            object
Investor4                            object
Month                                 int32
Year                                  int32
dtype: object

In [323]:
#before loading data into sqlite db, let's change some of the data types 

data['Valuation_billion_dollars'] = data['Valuation_billion_dollars'].astype('float')
data['Date_Joined'] = data['Date_Joined'].astype('str')

In [324]:
#now all missing values have been dealt with let's save the normalized data in a csv format and we can crack on with the analysis!
data.to_csv('unicorn_clean_data.csv', index = False)
unique_count.to_csv('unicorn_investor_data.csv', index = False)

In [326]:
#let's also insert and save the data to an sqlite database

import sqlite3


conn = sqlite3.connect('unicorn.db')

cursor = conn.cursor()

create_table_query = '''
CREATE TABLE IF NOT EXISTS Unicorns (
Company_ID INTEGER PRIMARY KEY, 
Company TEXT,
Valuation_billion_dollars REAL, 
Date_Joined TEXT, 
Country TEXT,
City TEXT,
Industry TEXT,
Investor1 TEXT,
Investor2 TEXT,
Investor3 TEXT,
Investor4 TEXT,
Month INT, 
Year INT
)
'''

cursor.execute(create_table_query)

insert_query = '''
INSERT INTO Unicorns (Company, Valuation_billion_dollars, Date_Joined, Country, City, Industry, Investor1, Investor2, Investor3, Investor4, Month, Year) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?);
'''

for index, row in data.iterrows():
    cursor.execute(insert_query, (row['Company'], row['Valuation_billion_dollars'], row['Date_Joined'], row['Country'], row['City'], row['Industry'], row['Investor1'], row['Investor2'], row['Investor3'], row['Investor4'], row['Month'], row['Year']))
    
conn.commit()
conn.close()

print('Data inserted successfully into SQLite DB.')

Data inserted successfully into SQLite DB.

# Data Visualisation

In [327]:
# Import module
from IPython.display import IFrame

# Import Tableau Visualization 
IFrame(src = 'https://public.tableau.com/views/unicorn_data_analysis_project/DashboardUnicornCompanies2006-2022DataSummary?:embed=y&:display_count=yes&:showVizHome=no', width=1500, height=1500)

## Conclusion